<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
    <add key="StrCon" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.34.1.215 )(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ADSAPRD)));User Id=pm_online_user;Password=pm_online_user;"/>
    <add key="StrConIAM" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.34.3.110 )(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=UNOPRD)));User Id=dbi_msg_temp_user;Password=dbi_msg_temp_userccc;"/>
    <!--add key="StrCon" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.34.1.154 )(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=UNOGRF1)));User Id=pm_online_user;Password=pm_online_user;"/>
		<add key="StrConIAM" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.34.3.129 )(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=UNOPET)));User Id=rep_produccion;Password=produccion_rep;"/>-->


  </appSettings>
</configuration>